<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <meta property="og:title" content="Robbie Marcelo - Ruby on Rails Developer Manila Philippines"/>
    <meta property="og:description" content="Ruby on Rails Developer in the Philippines, Ruby on Rails Developer Manila"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://www.robbiemarcelo.com"/>
    <meta property="og:site_name" content="http://www.robbiemarcelo.com"/>

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= "Robbie Marcelo - Ruby on Rails Developer from Manila, Philippines" %></title>

    <%= stylesheet_link_tag "normalize", "all" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>